body {
  font-family: Arial;
  background: #f2f2f2;
  margin: 0;
  padding: 10px;
  text-align: center;
}

header {
  background: #222;
  color: white;
  padding: 15px;
}

nav a {
  color: #fff;
  margin: 0 5px;
}

.app {
  background: #fff;
  padding: 15px;
  margin: 15px;
  border-radius: 8px;
}

.app img, .icon {
  width: 80px;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
}

.ad {
  margin: 20px 0;
}
